# Introduction to R and Statistics

Let's begin by working on how to import and manipulate data frames.

We often use the **personality** data set for examples which is stored on [Dr. Sinn's faculty webpage](https://faculty.ung.edu/rsinn/data/) in the data folder. Many other CSV files are located there and will also be used in this course.

## Data Frames

The **read.csv()** function will import the file and convert it into a data frame. Below, we also create a variable named **pers** and in which the data frame will be stored for use in R.

In [1]:
pers <- read.csv('https://faculty.ung.edu/rsinn/data/personality.csv')
head(pers,5)

  Age Yr Sex G21 Corps Res Greek VarsAth Honor GPA  ... Perf OCD Play Extro
1 21  2  M   Y   Y     1   N     N       N     3.23 ... 105  10  142   8
2 20  3  F   N   N     2   Y     N       Y     3.95 ... 105   3  172  16
3 22  3  M   Y   N     2   N     N       N     3.06 ...  73   1  134  15
4 27  3  F   Y   N     3   N     N       N     2.84 ...  90   9  160  16
5 24  3  M   Y   N     2   N     N       N     2.39 ...  95   5  166  14
  Narc HSAF HSSE HSAG HSSD PHS
1 11   41   40   26   27   SE
2 11   46   52   26   33   SE
3 11   48   42   44   29   AG
4 10   51   51   23   19   SE
5 10   56   46   27   20   AF

Note the following attributes of a data frame which are demonstrated above:
- Rows represent individuals in the research sample.
- Columns are variables used in the research.

### Extracting a Column from a Data Frame
Since each column represents a variable, we often wish to extract a column (or more than one) so that we can work with it. Many R functions do not work with data frames but do in fact work with vectors.

#### The Dollar Sign Method

Below, let's extract 3 variables:
1. **Age** -- age of students in the sample
2. **Caff** -- number of 8 oz. servings of caffeine per day
3. **Sleep** -- average number of hours of sleep

age <- ...

caff <- ...

s <- ...

#### The Row-Column Method

We can do same thing using the row-column attribute of the data frame:

In [2]:
age <- ...

caff <- ...

s <- ...

ERROR: Error in eval(expr, envir, enclos): '...' used in an incorrect context

### Number of Rows and Columns

For the data frame **pers**, display the number of rows and number of columns.

## Descriptive Statistics

For the **Sleep** column of the *pers* data frame, calculate:
- mean
- standard deviation
- sample size
- 5-number summary

## Data Visualization

For the data sets age, caff and sleep, demonstrate how to use the following commands:
- hist()
- boxplot()
- plot() to display a scatter plot
- plot() and density() to display a density plot
- qqnorm() to display a Normal QQ plot
- mosaicplot()